@tailwind base;
@tailwind components;
@tailwind utilities;

/* ----- Custom property ----- */
:root {
  --main-bg-color: #fcfcfc;
  --main-text-color: #303030;
  --font-sans: "Avenir-Roman", 'Helvetica Neue', "Arial", 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', 'BIZ UDPGothic', "Meiryo", sans-serif;
  --font-mono: ui-monospace, "SFMono-Regular", "Menlo", "Monaco", "Consolas", 'Liberation Mono', 'Courier New', monospace;
}

/* ----- General ----- */
body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  min-width: 360px;
  font-family: var(--font-sans);
  @apply font-light leading-relaxed tracking-wide antialiased break-words;
}

strong {
  @apply font-semibold;
}

/* ----- Parts ----- */
.palt {
  font-feature-settings: 'palt';
}

.pagination-link {
  @apply w-10 h-10 flex justify-center items-center rounded-full hover:bg-gray-200 transition-colors duration-200;
}

.aside-external-link {
  @apply w-5 h-5 fill-current text-pink-400 hover:text-pink-200 transition-colors duration-200 inline;
}

.footer-external-link {
  @apply w-6 h-6 fill-current text-pink-400 hover:text-pink-200 transition-colors duration-200;
}

.metadata-category-link {
  @apply bg-pink-400 text-white text-xs rounded-full px-4 py-1 inline-block hover:bg-pink-200 transition-colors duration-200;
}

.metadata-tags-link {
  @apply bg-pink-200 text-gray-600 text-xs px-2 py-1 hover:bg-pink-300 transition-colors duration-200;
}

/* ----- Slideshow ----- */
.slideshow {
  position: relative;
  width: 100%;
  height: 200px;
}

@media (min-width: 768px) {
  .slideshow {
    height: 400px;
  }
}

@media (min-width: 1024px) {
  .slideshow {
    height: 600px;
  }
}

@media (min-width: 1280px) {
  .slideshow {
    height: 700px;
  }
}

@media (min-width: 1536px) {
  .slideshow {
    height: 800px;
  }
}

@media (min-width: 1800px) {
  .slideshow {
    height: 1200px;
  }
}

.slideshow > img {
  position: absolute;
  opacity: 0;
  transition: all 2s ease-in-out;
  height: 100%;
  object-fit: cover;
}

/* ----- Articles ----- */

/* 1.Paragraph */
.entry-content p {
  line-break: strict;
  @apply mt-8 leading-8;
}

.entry-content p > img {
  @apply max-w-full md:max-w-3xl w-full rounded;
}

.entry-content p > code {
  @apply px-2 py-1 bg-gray-100;
}

/* 2.Headline */
.entry-content h2 {
  font-feature-settings: 'palt';
  @apply text-2xl font-semibold mt-16 pl-3 pr-1 py-2 border-l-2 border-pink-300;
}

.entry-content h3 {
  font-feature-settings: 'palt';
  @apply text-xl mt-10 px-1 font-semibold pb-1 border-b border-gray-500 border-dotted;
}

/* 3.Link */
.entry-content a:link,
.entry-content a:visited {
  @apply text-pink-500;
}

.entry-content a:hover {
  @apply text-pink-400;
}

/* 4.Blockquote */
.entry-content blockquote {
  font-size: 0.9rem;
  color: #404040;
  @apply tracking-wide bg-gray-100 rounded mx-2 my-8 p-6;
}

.entry-content blockquote > p {
  @apply m-0 leading-7;
}

/* 5.Table  */
.entry-content table {
  @apply w-full table-auto border-collapse border border-gray-300 mt-6 md:mt-8;
}

.entry-content table th {
  @apply text-base md:text-sm px-4 py-1 border border-gray-300 bg-gray-200 tracking-wider;
}

.entry-content table tr:nth-child(even) {
  @apply bg-gray-100;
}

.entry-content table td {
  @apply text-base md:text-sm px-4 py-1 border border-gray-300 break-all tracking-wide;
}

/* 6.List (disc) */
.entry-content ul {
  line-break: strict;
  @apply mt-8 leading-8 list-disc list-outside pl-6;
}

.entry-content ul > li > ul {
  list-style-type: circle;
  line-break: strict;
  @apply mt-1 leading-8 list-outside;
}

/* 7.List (number) */
.entry-content ol {
  line-break: strict;
  @apply mt-8 leading-8 list-decimal list-outside pl-6;
}

.entry-content ol > li > ol {
  list-style-type: lower-roman;
  line-break: strict;
  @apply mt-1 leading-8 list-outside;
}

/* 8.Code highlight */
.highlight pre {
  @apply my-4 p-4 break-normal overflow-auto;
}

.highlight pre code {
  font-family: var(--font-mono);
  font-size: 0.9rem;
  @apply tracking-wide overflow-visible;
}

/* ----- Profile-box ----- */
.profile-box {
  opacity: 0;
  transition: all 0.7s ease-in-out;
}

.profile-box.show {
  opacity: 1;
  transform: none;
}
