.DS_Store
.idea
.mypy_cache
.vim
__pycache__
output
output_dev
to_srv_root_dir/.htaccess
publishconf.py
preparation.sh
theme/.idea
theme/_sample
theme/nnamm.work/static/css/pygments.css
theme/nnamm.work/static/css/styles.css
theme/public
theme/node_modules
theme/tailwind_default.config.js
venv