.DS_Store
.idea
.mypy_cache
.vim
.venv
__pycache__
output
to_srv_root_dir/.htaccess
publishconf.py
publish.sh
theme/_sample
theme/nnamm.work/static/css/pygments.css
theme/nnamm.work/static/css/styles.css
theme/public
theme/node_modules
theme/tailwind_default.config.js
*.psd
memo.txt