:root {
  --base-text: 0.95rem;
  --base-text-blog: 1rem;
  --base-spacing: 0.02em;
}
html {
  font-family: "Avenir-Roman", "Helvetica Neue", "Arial", "Hiragino Sans",
    "Hiragino Kaku Gothic ProN", "BIZ UDPGothic", "Meiryo", sans-serif;
  letter-spacing: var(--base-spacing);
  /* font-weight: 300; */
  word-break: break-all;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-base {
  font-size: var(--base-text);
  font-weight: 400;
}

.prose {
  font-size: var(--base-text-blog);
  line-height: 1.9rem;
}

.prose ol,
.prose ul {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}

.prose ol > li,
.prose ul > li,
.prose ol > li > ol,
.prose ul > li > ul {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.prose table {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-width: 0.05rem;
}

.prose th,
.prose td {
  line-height: 1.25rem;
  padding: 0.25rem 0.5rem;
  border-width: 0.05rem;
}

.max-w-prose {
  max-width: 76ch;
}

.copy-button {
  font-size: 0.7rem;
}

time {
  font-size: 0.85rem;
}

h1 {
  font-size: 2rem !important;
  font-weight: 600 !important;
  letter-spacing: var(--base-spacing);
  word-break: break-all;
  margin-top: 3rem !important;
  margin-bottom: 1rem !important;
}

h2 {
  border-color: #f9a8d4;
  padding-left: 0.75rem;
  border-left-width: 0.25rem;
}

h3 {
  border-color: #f9a8d4;
  border-bottom-width: 0.1rem;
  border-style: solid;
  margin-bottom: 1.5rem !important;
}

blockquote {
  font-size: 0.9rem !important;
  font-weight: 400 !important;
  line-height: 1.75rem;
  border-left-width: 0.3rem !important;
  margin: 2rem 1rem !important;
}
