<div class="slideshow mb-12 md:mb-16">
  <img class="image-process-default" src="{{ SITEURL }}/{{ STATIC_PATHS[0] }}/top/image1.jpg"
       alt="Top page slide image1"
       loading="lazy">
  <img class="image-process-default" src="{{ SITEURL }}/{{ STATIC_PATHS[0] }}/top/image2.jpg"
       alt="Top page slide image2"
       loading="lazy">
  <img class="image-process-default" src="{{ SITEURL }}/{{ STATIC_PATHS[0] }}/top/image3.jpg"
       alt="Top page slide image3"
       loading="lazy">
  <img class="image-process-default" src="{{ SITEURL }}/{{ STATIC_PATHS[0] }}/top/image4.jpg"
       alt="Top page slide image4"
       loading="lazy">
  <img class="image-process-default" src="{{ SITEURL }}/{{ STATIC_PATHS[0] }}/top/image5.jpg"
       alt="Top page slide image5"
       loading="lazy">
  <img class="image-process-default" src="{{ SITEURL }}/{{ STATIC_PATHS[0] }}/top/image6.jpg"
       alt="Top page slide image6"
       loading="lazy">
</div>
