{% extends "base.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}
{% block title %}{{ article.title|striptags }}｜{{ SITENAME }}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% if article.description %}
  <meta name="description" content="{{ article.description }}"/>
{% endif %}
{% if article.tags %}
  {% for tag in article.tags %}
    <meta name="tags" content="{{ tag }}"/>
  {% endfor %}
{% endif %}
{% if article.keywords %}
  <meta name="keywords" content="{{ article.keywords }}"/>
{% endif %}
{% block extra_head %}
  <meta property="og:title" content="{{ article.title }}">
  <meta property="og:type" content="article">
  <meta property="og:url" content="{{ SITEURL }}/{{ article.url }}/">
  <meta property="og:image" content="{{ article.image|replace("../../", "https://nnamm.work/") }}">
  <meta property="og:site_name" content="{{ SITENAME }}">
  <meta property="og:description" content="{{ article.description }}">
{% endblock %}

{% block content %}
  <article>
    <header class="flex flex-col
                   pt-12 md:pt-20 pb-12">
      {# Title #}
      <h1 class="palt text-2xl md:text-3xl font-semibold
                 w-full md:max-w-3xl md:mx-auto
                 px-4 md:px-10 mb-4">
        {{ article.title }}</h1>
      {# Metadata - profile, date #}
      <div class="flex items-center
                  w-full md:max-w-3xl md:mx-auto
                  px-4 md:px-10 mb-10">
        <img class="image-process-crisp
                    w-10 md:w-12 h-10 md:h-12 rounded-full
                    mr-2 md:mr-4"
             src="{{ SITEURL }}/{{ STATIC_PATHS[0] }}/profile_small.jpg"
             alt="Profile image of Takashi Hanamura" loading="lazy">
        <div class="text-xs text-gray-400">
          <span class="block mb-1">{{ article.author }}</span>
          <span class="block">
            {% if article.modified != article.date %}
              {{ article.modified | datetime('%Y/%m/%d') }}
              <span>
                <svg class="inline-block w-2.5 h-2.5 fill-current text-gray-400" viewBox="100 100 1792 1792"
                     xmlns="http://www.w3.org/2000/svg">
                  <path
                      d="M1639 1056q0 5-1 7-64 268-268 434.5t-478 166.5q-146 0-282.5-55t-243.5-157l-129 129q-19 19-45 19t-45-19-19-45v-448q0-26 19-45t45-19h448q26 0 45 19t19 45-19 45l-137 137q71 66 161 102t187 36q134 0 250-65t186-179q11-17 53-117 8-23 30-23h192q13 0 22.5 9.5t9.5 22.5zm25-800v448q0 26-19 45t-45 19h-448q-26 0-45-19t-19-45 19-45l138-138q-148-137-349-137-134 0-250 65t-186 179q-11 17-53 117-8 23-30 23h-199q-13 0-22.5-9.5t-9.5-22.5v-7q65-268 270-434.5t480-166.5q146 0 284 55.5t245 156.5l130-129q19-19 45-19t45 19 19 45z"></path>
                </svg>
              </span>
            {% endif %}
            {{ article.date | datetime('%Y/%m/%d') }}
          </span>
        </div>
      </div>
      {# Eye catching image #}
      <img class="image-process-default
                  w-full max-w-full md:max-w-4xl lg:max-w-5xl md:mx-auto
                  md:rounded"
           src="{{ article.image }}"
           alt="Eye catching image for this article" loading="lazy">
    </header>
    {# Content #}
    {% include "component/aside.html" %}
    <div class="entry-content
                w-full md:max-w-3xl md:mx-auto
                px-4 md:px-10">
      {{ article.content }}
    </div>
    {# Metadata - category, tags #}
    <div class="w-full md:max-w-3xl md:mx-auto
                mt-12 mb-20 px-4 md:px-10">
      {% include "component/metadata.html" %}
    </div>
  </article>
{% endblock %}
