{% extends "base.html" %}
{% block html_lang %}{{ page.lang }}{% endblock %}
{% block title %}{{ page.title|striptags }}｜{{ SITENAME }}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% if page.description %}
  <meta name="description" content="{{ page.description }}"/>
{% endif %}
{% if page.keywords %}
  <meta name="keywords" content="{{ page.keywords }}"/>
{% endif %}
{% block extra_head %}
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:type" content="artcle">
  <meta property="og:url" content="{{ SITEURL }}/{{ page.url }}">
  <meta property="og:image" content="{{ page.image|replace("../../", "https://nnamm.work/") }}">
  <meta property="og:site_name" content="{{ SITENAME }}">
  <meta property="og:description" content="{{ page.description }}">
{% endblock %}

{% block content %}
  <header class="w-full md:max-w-3xl md:mx-auto mt-12 md:mt-20 mb-12 px-4 md:px-10">
    {# Title #}
    <h1 class="palt font-semibold text-2xl md:text-3xl break-normal pl-3 pr-1 py-2 border-l-2 border-pink-300">{{ page.title }}</h1>
  </header>
  {# Content #}
  <div class="entry-content w-full md:max-w-3xl md:mx-auto mb-20 px-4 md:px-10">
    {{ page.content }}
  </div>
{% endblock %}
